.header {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}


.counteiner {
    width: 100%;
    max-width: 1500px;
    margin: auto 0;
}

.heade__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav {
    
}

.heade__nav {
    display: inline-block;
    vertical-align: top;
}