*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}


.wapper {
    min-height: 100%;
    overflow: hidden;
    background: #021C36;
}

._container {
    max-width: 1356px;
    margin: 0px auto;
}
.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #021C36;
}


.wapper {
}
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    padding: 23px 0px 0px 0px;
}
.header-rignt_menu{
    display: flex;
}
.header_container{
    

}

._container {
}
.header_menu.menu {
}
.header_logo {
    
}
.header-right._agendar {
}
.menu_title {
}
.menu_item:not(:last-child) {
    padding: 0px 54px 0px 0px;
   
}
.menu_item-small{
    padding: 0px 49px 0px 0px;

}
.header-right-items{
}
.menu_link {
    font-family: 'Nunito';
    font-weight: 800;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
}
.right_item:not(:last-child) {
    padding: 0px 22px 0px 0px;

}



