*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}



.wapper {
    min-height: 100%;
    overflow: hidden;
    position: relative;
  
    .header {
        background-color: #021C36;
        position: absolute;
        width: 100%;
        z-index: 50;
        .header-container {
            display: flex;
            
            align-items: center;
            
                .left-link{
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 20px;
                }
            }
            
        }
        ._container {
            max-width: 1500px;
            margin: 0px auto;
            box-sizing: content-box;
            .left-link {
                color: #fff;
            }
        }
    
    }




.item-left{
    .left-text_1 {
        padding: 0px 54px 0px 0px;
    }
    @media(max-width:1366px){
        .left-text_1 {
            padding: 0px 44px 0px 0px;
        }
    }
    @media(max-width:1197px){
        .left-text_1 {
            padding: 0px 35px 0px 0px;
        }
    }

    .left-text_2 {
        padding: 0px 411px 0px 0px;
    }
    @media(max-width:1366px){
        .left-text_2 {
            padding: 0px 300px 0px 0px;
        }
    }
    @media(max-width:1197px){
        .left-text_2 {
            padding: 0px 250px 0px 0px;
        }
    }
    @media(max-width:998px){
        .left-text_2 {
            padding: 0px 150px 0px 0px;
        }
    }
}
.item-right{
    .left-text_3 {
        padding: 0px 49px 0px 240px;
    }
    @media(max-width:1366px){
        .left-text_3 {
            padding: 0px 45px 0px 170px;
        }
    }
    @media(max-width:1197px){
        .left-text_3{
            padding: 0px 25px 0px 90px;
        }
    }
    .left-text_4{
        padding: 0px 49px 0px 0px;
    }
    @media(max-width:1366px){
        .left-text_4 {
            padding: 0px 45px 0px 0px;
        }
    }
    @media(max-width:1197px){
        .left-text_4 {
            padding: 0px 35px 0px 0px;
        }
    }
}
.elements-right{
    
    .element:not(:last-child){
        
        padding: 0px 22px 0px 0px;
    }
    @media(max-width:998px){
        .element:not(:last-child){
        
            padding: 0px 15px 0px 0px;
        }
    }
}
.item-left{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.item-right{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
 
}

.img {
    
}

@media(max-width:390px){
    .header-container {
        flex-direction: column;
        .img{
            
            order:1;
        }
        .item-left{
            flex-direction: column;
            padding: 30px 0px 30px 0px;
            order:2;
        }
        .item-right{
            flex-direction: column;
            order:3;
        }
    }

}


//==========basic=====================================================================


.basic-block{
    background-color: #021C36;
    padding: 114px 0px 0px 0px;
    
}

.block_container {
    display: flex;
    align-items: center;
    .block-image {
        padding: 0px 181px 0px 184px;
        .img{
            border: 100%;
        }
    }
    
    .block-info{
        .info_main-text {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 900;
            font-size: 60px;
            line-height: 60px;
            color: #FFFFFF;
        }
        .info_under-text{
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 900;
            font-size: 20px;
            line-height: 36px;
            color: #FFCB05;
        }
        .info-stars{
            display: flex;
            align-items: center;
            .stars-text{
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                color: #FFFFFF;
            }
        }
        .info_end-text{
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: #FFFFFF;

        }
        .info_number-and-buttom{
            display: flex;
            

            .info_numbers{
                display: flex;
                margin: 0px 67px 0px 0px;
            }
            .info_buttom{
                box-sizing: content-box;
                display: inline-block;
                background: #021C36;
                border: 1px solid #FFCB05;
                box-shadow: 0px 4px 50px rgba(255, 255, 255, 0.4);
                border-radius: 50px;
                width: 180px;
                height: 60px;
                margin: 0px 67px 0px 0px;
                
                .buttom{
                    display: block;
                    padding: 20px 37px;
                    font-family: 'Nunito';
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 20px;
                    
                    color: #FFFFFF;

                }
            }
        }
    }
}

.bolls_line{
    background-color: #021C36;
}

.moon-block{
    background-color: #021C36;
    .moon_container{
        display: flex;
        align-items: center;
        
        border-radius: 20px;
        border: #785E9E solid 5px;
        width: 1234.21px;
        height: 638.23px;
        .number-vertical{
            padding: 0px 184px 0px 0px;
            .bolls{
                z-index: 10;
            }
        }
        .moon-info{

            .moon-text{
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 800;
                font-size: 32px;
                line-height: 36px;
                text-transform: uppercase;
                color: #FFCB05;

            }
            .moon_under-text{
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 900;
                font-size: 28px;
                line-height: 36px;
                color: #FFFFFF;

            }
            .moon-buttom{
                box-sizing: content-box;
                display: inline-block;
                background: #021C36;
                border: 1px solid #FFCB05;
                box-shadow: 0px 4px 50px rgba(255, 255, 255, 0.4);
                border-radius: 50px;
                width: 183px;
                height: 60px;
                
                .mbuttom{
                    display: block;
                    padding: 20px 37px;
                    font-family: 'Nunito';
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 20px;
                    color: #FFFFFF;

                }
            }


        }
    }
}


