*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    box-sizing: border-box;
}


.container{
    max-width: 944px;
    margin: 0 auto;

}


nav{
    display: flex;
    justify-content: space-between;
}

.menu-btn{
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    opacity: 0;
    padding: 30px;
}
.menu-btn span{
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: blueviolet;
    transition: all 0.1s;
}

.menu-btn span:nth-of-type(2){
    top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3){
    top: calc(50% + 5px);
}

header{
    display: flex;
    justify-content: flex-end;
}
nav{
    display: flex;
    justify-content: space-between;
}

li{
    
    list-style-type: none;
}


@media(max-width:770px){
    
    .menu-btn{
    z-index: 4;
    opacity: 1;
    
    }
    
    .popup{
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 50%;
        background-color: rgb(55, 138, 135);
        z-index: 1;
        display: flex;
        
        transition:  0.5s;
    }
    .popup.active{
        
        left: 0;
        
        
    }
    .header{
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        padding: 15px;
        z-index: 3;
        
        transition:  0.5s;   
    }
    .header.active{
        z-index: 3;
        left: 0%;;
        
        
    }
    nav{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    li{
        width: 100%;
    }

    a{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px;
    }
   
    .menu-btn.active span:first-of-type {
        opacity: 0;
    
    }
    .menu-btn.active span:nth-of-type(2){
        top: 50%;
        transform: translate(-50%,-50%)rotate(45deg);
    }
    .menu-btn.active span:nth-of-type(3){
        top: 50%;
        transform: translate(-50%,-50%) rotate(-45deg);
    }
}

