* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: url("../img/UnicornVectorGradient_2.jpg");
}

.content {
  margin: 0 auto;
  max-width: 1000px;
}
.content .content-top {
  margin: 15px;
  text-align: center;
}
.content .content-top .navigation {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content .content-top .navigation .navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content .content-top .navigation .navi li {
  display: block;
  margin: 0px 0px 0px 15px;
  text-transform: uppercase;
}
.content .content-top .navigation .navi li:hover {
  color: rgb(110, 197, 91);
  -webkit-transition: color 0.5ms linear;
  transition: color 0.5ms linear;
}
.content .content-top .navigation .navigation-right {
  text-transform: uppercase;
}
.content .content-half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0px 0px 0px;
  border-radius: 16px;
  background-color: rgb(233, 229, 225);
}
.content .content-half .content-half__photo {
  padding-right: 0px;
}
.content .content-half .content-half__text {
  display: inline-block;
  padding-left: 50px;
  margin: 20px 50px 20px 5px;
}