*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}



body{
    background-color: #e8e8e8;
}

.content {
    padding: 160px 0 137px 0;
    max-width: 841px;
    margin: 0px auto;

}
.content-top {
    text-align: center;
}


.content-top_category {
    opacity: 0,6;
    font-family: Arial;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    margin:0px 0px 70px 0px ;
}
.content-top_title {
    color:#273d46;
    font-size: 36px;
    line-height: 50px;
    max-width: 725px;
}
.content-image {
    box-shadow: 0 15px 65px rgb(15,16,16,0.15);
    background-color: #fff;
    padding: 10px;
}
.content-image__item {
}
.content-bottom {
}
.content-bottom__text {
}
.content-bottom-info {
}
.content-bottom-info-list {
}